/* assets/css/styles.css */

.backgroundImage {
    background: url('../Images/Bg_image.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;

}


.card {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.85); /* Semi-transparent background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}